@import '@/app/styles/reset.css';
@import '@/app/styles/variables/global.css';
@import '@/app/styles/themes/normal.css';
@import '@/app/styles/themes/dark.css';
@import '@/app/styles/themes/black.css';

body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    background-color: var(--bg-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}
