@import '@/app/styles/reset.css';
@import '@/app/styles/variables/global.css';
@import '@/app/styles/themes/normal.css';
@import '@/app/styles/themes/dark.css';
@import '@/app/styles/themes/black.css';

body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    background-color: var(--bg-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px 20px 20px 45px;
    height: calc(100vh - var(--navbar-h));
    overflow-y: auto;
    flex-shrink: 100;
}
