.Button {
    cursor: pointer;
}

.clear {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
}

.def {
    padding: 2px;
}

.small {
    font: var(--font-s);
}

.medium {
    font: var(--font-m);
}

.large {
    font: var(--font-l);
}
