.Button {
    cursor: pointer;
    padding: 6px 15px;
}

.clear {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    color: var(--primary-color);
}

.clearInv {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    color: var(--inv-primary-color);
}

.def {
    padding: 2px;
}

.sqare {
    padding: 0;
}

.sqare.small {
    width: var(--font-line-s);
    height: var(--font-line-s);
}

.sqare.medium {
    width: var(--font-line-m);
    height: var(--font-line-m);
}

.sqare.large {
    width: var(--font-line-l);
    height: var(--font-line-l);
}

.sqare.xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
}

.background {
    background: var(--bg-color);
    border: none;
    color: var(--primary-color);
}

.backgroundInv {
    background: var(--inv-bg-color);
    border: none;
    color: var(--inv-primary-color);
}

.small {
    font: var(--font-s);
}

.medium {
    font: var(--font-m);
}

.large {
    font: var(--font-l);
}

.xl {
    font: var(--font-xl);
}
