.Sidebar {
    height: calc(100vh - var(--navbar-h));
    width: var(--sidebar-width);
    background-color: var(--inv-bg-color);
    position: relative;
    transition: width 0.4s;
}

.switcher {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 10px;
}

.items {
    display: flex;
    flex-flow: column wrap;
    margin-top: 20px;
    padding: 20px;
}

.link {
    padding: 10px;
    color: var(--inv-primary-color);
    margin-left: 10px;
}

.icon {
    fill: var(--inv-primary-color);
}

.item {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.collapseBtn {
    position: absolute;
    right: -20px;
    bottom: 60px;
}

.expand {
    width: var(--sidebar-width-expand);

    .switcher {
        flex-direction: column;
    }

    .link {
        opacity: 0;
        transition: 0.2s opacity;
    }
}
