.ArticleListItem{

}
.LINE{

    .textBlock{
        max-height: 200px;
        overflow-y: hidden;
    }

    .types p{
        margin-top: 8px;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    }

    .title p{
    margin-top: 8px;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    }

    .header{
        display: flex;
        align-items: center;
    }

    .username{
        margin-left: 8px;
    }

    .date{
        margin-left: auto;
    }

    .img{
        width: 100%;
        max-height: 250px;
        object-fit: cover;
        margin: 16px 0;
    }

    .footer{
        display: flex;
        align-items: center;
    }

    .view{
        margin-left: auto;
        margin-right: 5px;
    }


}
.BLOCK{
    width: 230px;
    transition: 0.2s;
    cursor: pointer;

    .types p{
    width: 110px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }

    .title p{
    margin-top: 8px;
        width: 210px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }

}
.BLOCK:hover .data{
    display: block;
    opacity: 0.8;
}
.BLOCK:hover{
    opacity: 0.85;
    transform: scale(1.01);
}
.BLOCK{

    .imgeWrapper{
        width: 200px;
        height: 200px; 
        position: relative;
    }

    .img{
        height: 200px;
        width: 200px;
        object-fit: cover;
    }

    .data{
        position: absolute;
        top: -4px;
        left: 130px;
        color: var(--inv-bg-color);
        display: none;
    }

    .infoWrapper{
        display: flex;
        align-items: center;
        margin-top: 8px;
    }
    
    .view{
        margin-left: auto;
        margin-right: 8px;
    }
}
