.Select{
    display: flex;
}

.label{
    margin-right: 5px;
}

.select{
    background: none;
    outline: none;
    color: var(--primary-color);
    padding: 2px 10px 2px 2px;
    border: 1px solid var(--primary-color);
}

.option{
    color: var(--inv-primary-color);
    background:  var(--inv-primary-color);
}

.readOnly{
    opacity: 0.7;
}