.dark {
    --bg-color: rgb(36 52 71);
    
    --inv-bg-color: rgb(20 30 45);
    
    --primary-color: rgb(64 110 128);
    
    --secondary-color: rgb(86 140 150);
    
    --inv-primary-color: rgb(100 255 180);
}
