.normal {
    --bg-color: rgb(95 85 73);

    --inv-bg-color: rgb(65 50 40);

    --primary-color: rgb(150 125 100);

    --secondary-color: rgb(190 160 130);

    --inv-primary-color: rgb(255 200 80);

    --skeleton-shadow: rgb(80 70 60);
    --skeleton-color: rgb(120 105 85);
    --code-bg: rgb(50 40 35);
    --code-color: rgb(240 220 180);
}
