.ProfileCard{
    position: relative;
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
}

.header{
    position: relative;
    display: flex;

}

.input{
    margin-top: 10px;
}

.editBtn{
    margin-left: auto;
}

.data{
    margin-top: 30px;
}