.ProfileCard{
    position: relative;
    padding: 20px;
    border: 2px solid var(--inv-primary-color);
}

.input{
    margin-top: 10px;
}

.data{
    margin-top: 10px;
}

.loading, 
.error{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}