.CommentCard{
    position: relative;
    padding: 10px;
    border: 1px solid var(--primary-color);
}

.header{
    display: flex;
    align-items: center;
}

.usernem{
    margin-left: 10px;
}

.text{
    margin-top: 10px;
}