name: linting, testing, building
on:
    push:
        branches: [master]
    pull_request:
        branches: [master]
jobs:
    pipeline:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [22]

        steps:
            - uses: actions/checkout@v4
            - name: Staring Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}
            - name: Install modules
              run: npm install
            - name: Install Playwright browsers
              run: npx playwright install
            - name: build prod project
              run: npm run build
            - name: linting typescript
              run: npm run lint:ts
              if: always()
            - name: linting css
              run: npm run  lint:css
              if: always()
            - name: linting i18n
              run: npm run lint:i18n
              if: always()
            - name: prettier checking
              run: npm run format:check
              if: always()
            - name: prettier checking typescript
              run: npm run format:ts:check
              if: always()
            - name: unit testing
              run: npm run test
              if: always()
